<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Clientes</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>APELLIDOS</th>
            <th>EMAIL</th>
            <th>FOTO PERFIL</th>
            <th>NOMBRES</th>
            <th>TELEFONO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas" class="text-center">
            <td>{{persona.idCliente}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.email}}</td>
            <td>{{persona.fotoPerfil}}</td>
            <td>{{persona.nombres}}</td>
            <td>{{persona.telefono}}</td>
            <td>
              <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
              <button (click)="Delete(persona)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>