<div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
            
          <mat-card-content>
            <h1>Café Especial</h1>
            <p>S/.16.00</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://b2brazil.com/sites/default/files/styles/b2brazil_hotsite_product/public/b2brazil/product/image/03_especial_02.png?itok=KlVHlkO_"
            />
          </div>
  
          <mat-card-content>
            <h1>Café Especial</h1>
            <p>S/.16.00</p>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-md-4 mb-3">
        <mat-card class="order-card">
          <div>
            <img
              mat-card-image
              src="https://b2brazil.com/sites/default/files/styles/b2brazil_hotsite_product/public/b2brazil/product/image/03_especial_02.png?itok=KlVHlkO_"
            />
          </div>
  
          <mat-card-content>
            <h1>Café Especial</h1>
            <p>S/.16.00</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
