<h3 class="fw-bold">Lista de Clientes</h3>

<div class="text-end">
  <button mat-raised-button color="primary" routerLink="/admin/clientes/nuevo">
    Nuevo Cliente
  </button>
</div>

<div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
    class="w-100"
  >
    <ng-container matColumnDef="id_cliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id_cliente }}</td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="foto_perfil">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Foto Perfil</th>
        <td mat-cell *matCellDef="let element">{{ element.foto_perfil }}</td>
      </ng-container>

      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
        <td mat-cell *matCellDef="let element">{{ element.nombres }}</td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
        <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
