<div class="row">
  <div class="col-md-offset-3 mx-auto">
    <form
      autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="save()"
      #frmOrder="ngForm"
    >
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Producto</mat-label>
        <input
          type="text"
          placeholder="Producto"
          matInput
          [matAutocomplete]="autoProducto"
          [formControl]="myControlProducto"
          formControlName="producto"
        />

        <mat-autocomplete
          #autoProducto="matAutocomplete"
          [displayWith]="mostrarProducto"
        >
          <mat-option *ngFor="let p of productosFiltrados$ | async" [value]="p">
            {{ p.title }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Cantidad</mat-label>
        <input
          matInput
          type="text"
          placeholder="Cantidad"
          formControlName="quantity"
        />

        <mat-error *ngIf="form.controls.quantity.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="agregarProducto()"
      >
        Agregar producto al detalle
      </button>

      <button mat-raised-button color="primary" type="submit">Guardar</button>

      <mat-toolbar *ngFor="let old of orderLines; let i = index">
        {{ old.product.title }} - {{ old.product.price }} -{{ old.quantity }}
        <span class="example-spacer"></span>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="removerProducto(i)"
        >
          Eliminar
        </button>
      </mat-toolbar>
    </form>
  </div>
</div>
